html
  head
      title Admarginem - #{title}
      link(rel="stylesheet", type="text/css",href="public/css/style.css")
  body
    block content
    script(src="public/js/jquery.min.js")
    script(src="public/js/jwerty.min.js")
    script(src="public/js/admarginem.browserify.js")
