html
  head
      title Admarginem - #{title}
      link(rel="stylesheet", type="text/css",href="/public/css/style.css")
  body
    block content
    script(src="/public/js/jquery.min.js")
    block js
