html {
	height: 100%;
	padding: 20px;
}

body {
	position: relative;
	background-color: #ccc;
	min-height: 100%;
	font-family: 'arial', sans-serif;
	padding: 20px;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	color: #444;
}


@primary1: #E7003E;
@primary2: #AD2B4E;
@primary3: #960028;
@primary4: #F33D6E;
@primary5: #F36D91;

@complementary1: #5DE100;
@complementary2: #5FA92A;
@complementary3: #3D9200;
@complementary4: #3D9200;
@complementary5: #A3F06C;

/*
@primary1: #E7003E;
	AD2B4E	960028	F33D6E	F36D91
Complementary Color:
5DE100	5FA92A	3D9200	3D9200	A3F06C
*/

h1 {
	font-size: 30px;
	margin-bottom: 20px;
  	text-shadow: 1px 1px 9px #888;
   	color: #444;
   	font-weight: normal;
}

div.job-list {

	width: auto;
	background-color: #eee;
	border: solid 1px #777;
	padding: 10px 50px;
	margin: 0px -50px;

	table {
		border: 0;
		th {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			color: #999;
			font-weight: normal;
			text-align: left;
			padding: 4px 14px 4px 4px;
			&.sorting-desc:after {
	   			content: "▼";
	   			float: right;
	   			font-size: 10px;
			}
			&.sorting-asc:after {
		   		content: "▲";
		   		float: right;
		   		font-size: 10px;
			}
		}
		
		tbody {

			tr:hover {
				background-color: white;
			}
		
			td.job-name {
				width: 400px;
				padding: 4px 4px ;
				border-width: 0px;
			}

		}
	}
}

a {
	color: @complementary2;
	text-decoration: none;
}

div.header {

	h1 {
		float: left;
	}

	span.number {
		float:right;
		color: #444;
		font-size: 20px;
	}

	input.page-range {
		@inputcolor: #666;

		@rangesize: 20px;
		clear: both;
		width: 100%;
		-webkit-appearance:none; -moz-apperance:none; width:100%; height:4px;
		margin-bottom: @rangesize;
		background: @inputcolor;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		-ms-border-radius:2px;
		-o-border-radius:2px;

		&::-webkit-slider-thumb {
			-webkit-appearance:none;
			-moz-apperance:none;
			width:  @rangesize;
			height: @rangesize;
			-webkit-border-radius:10px;
			-moz-border-radius:10px;
			-ms-border-radius:10px;
			-o-border-radius:10px;
			border-radius:10px;
			background-color: @inputcolor;
		}
	}

}

div.panel {
	position: absolute;
	min-height:700px !important;
	padding: 40px;
	-webkit-border-radius:10px;
}

div.view-panel {
	left: 0px;
	width: 69%;
}


@color1: #FFA100;
@color2: #FFB840;
// @color2: #e72;
@gray1: desaturate(@color1,100%);
// @gray2: desaturate(@color2,100%);

div.answer-panel {
	right: 0px;
	width: 29%;	
	input[type="checkbox"] {
		display: block;
		margin: 200px auto;
		width: 200px;
		height: 200px;
	}

	input[type="radio"] {
		visibility: hidden;
	}

	input[type="radio"] + label {
		display:inline-block;
    	font-size: 40px;
    	border-radius: 4px;
    	width: 100%;
    	text-align: center;
    	color: #eee;
    	text-shadow: 1px 1px 9px #222;
	}

	input[type="radio"] + label:hover {	
		color: white;
	}

	input[type="radio"]:checked + label {
    	// border: solid darken(@color1,5%) 2px;
    	color: @complementary5;
	}

	input[type="checkbox"]:after {
		content:"";
	    display:inline-block;
		width: 200px;
		height: 200px;
	    margin: 0 auto;
	    vertical-align:middle;
	    cursor:pointer;
	}

	input[type="checkbox"]:checked:after {
		content:"";
		margin: 0 auto;
	}

}
